<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolioItems.each do |item| %> 
  <p><%= item.title %></p> 
  <p><%= item.subtitle %></p> 
  <p><%= item.body %></p>
  <%= image_tag item.thumbImage unless item.thumbImage.nil? %>
  <%= link_to "Edit", edit_portfolio_path(item.id) %>
<% end %>